/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/****************************************************************************
'Clock
****************************************************************************/
#app-container {
    width: 100%; 
    height: 100vh; 
    overflow: hidden;
    background-color: #000; 
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clock-container {
    width: 380px; 
    height: 380px;
    position: relative;
    border-radius: 500px;
    box-shadow: 0 0 160px #ffccb452;
}

.hours, .minutes, .seconds {
    border-radius: 100px;
    position: absolute;
    transition: all ease 100ms; 
}
.hours {
    width: 12px;
    height: 100px;
    background-color: #fbc02d;
    left: calc(50% - 2px);
    top: calc(190px - 100px);
    transform-origin: bottom;
    border-radius: 100px;
}

.minutes {
    width: 2px; 
    height: 180px;
    background-color: transparent; /* #c49000;*/
    left: calc(50% - 1px); 
    top: calc(190px - 180px); 
    transform-origin: bottom;
    border-radius: 100px;
}
.minutes::before {
    content: '';
    background: #fedb7a;
    width: 2px;
    height: 120px;
    display: block;
    border-radius: 100px;
    position: relative;
}
.seconds {
    width: 2px; 
    height: 180px;
    background-color: transparent;
    left: calc(50% - 1px); 
    top: calc(190px - 180px); 
    transform-origin: bottom;
    border-radius: 100px;
    opacity: .4;
}
.seconds::before {
    content: '';
    background: #fedb7a;
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 100px;
    position: relative;
    right: 5px;
}



svg { 
    /* border: solid 1px;  */
    stroke: currentColor; 
    stroke-width: 2;
    stroke-linecap: round;
}

.svg-container {
    color: #fff; 
}